body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Logotype */
.logo {
  font-family: "Raleway";
  color: #4d5ae5;
}
.logo span {
  font-family: "Raleway";
  color: #2e2f42;
}
:root {
}
