.body{
font-family: Roboto;
color: #434455;
background-color: #FFFFFF;
}
/* Logotype */
.logo1{
font-family: Raleway;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo2{

}