.page {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Logotype */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo span {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}
.contacts ul li a {
  font-style: normal;
  color: #434455;
}
/* Section 1 */
.section-one {
  background-color: #2e2f42;
}
.header-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.butt {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.butt:hover {
  background-color: #404bbf;
}
.butt:focus {
  background-color: #404bbf;
}
/* Section 2 */
.section-two {
}
.title-list {
}
.list-item h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
:root {
}
